<center>
<fieldset style="width:330px;height:auto">
<legend><h2>Edit <%= resource_name.to_s.humanize %></h2></legend>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<table cellspacing="3px">
	<tr>
		<td><b><%= f.label :email %></b></td>
		<td><%= f.email_field :email %></td>
    </tr>
	<tr>
		<td><b><%= f.label :password %></b></td>
		<td><%= f.password_field :password, :autocomplete => "off" %></td>
    </tr>
	<tr>
		<td><b><%= f.label :password_confirmation %></b></td>
		<td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
		<td><b><%= f.label :current_password %></b></td>
		<td><%= f.password_field :current_password %></td>
    </tr>
</table>
   <i>(we need your current password to confirm your changes)</i><br />
  
<br/>
  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
</fieldset>
</center>